 #inner-box{
    height: 250px;
    width: 250px;
    border-width: 50px;
    border-style:solid;
    border-color:rgb(194, 241, 241);
 background-color:rgb(235, 123, 223);
 }
#outer-box{
    background-color:teal;
    padding: 50px;
    height: 300;
    width: 300;
}
.bg.ing1{
    width: 50%;
    border-radius: 10%;
    border:5px salmon
}

